@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: "Special Elite", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* font-family: "Source Serif 4", serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #000000;
}
nav{
    font-family: "Special Elite", system-ui;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 15px;
    border-bottom: 5px #6A009A solid;
}
.logo{
    width: 260px;
    margin-right: 200px;
}
.searchBar{
    display: flex;
    align-items: center;
    background-color: #303030;
    border-radius: 30px;
    margin-right: 600px;
}
.searchBar img{
    width: 27px;
    margin-left: 10px;
    margin-right: 5px;
}
.searchBar input{
    font-family: "Special Elite", system-ui;
    padding: 9px;
    padding-right: 120px;
    font-size: 1.2rem;
    background: none;
    border: none;
}
.searchBar input:focus{
    outline: none;
    color: #ffffff;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    width: 58px;
    margin-right: 15px;
}
.user a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
}

.content{
    display: flex;
}
.content aside{
    font-family: "Special Elite", system-ui;
    width: 460px;
    min-height: 100dvh;
    border-right: 5px #6A009A solid;
    padding-left: 15px;
    padding-top: 15px;
}
.sideCard{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sideCard img{
    width: 80px;
    margin-right: 15px;
}
.sideCard a{
    text-decoration: none;
}
.sideCard p{
    color: #ffffff;
    font-size: 1.3rem;
}
.sideCard p:hover{
    text-decoration: underline;
}

/* here from above is the common part between the pages */

.mainContent{
    max-width: 100vh;
    font-family: "Source Serif 4", serif;
}
/* basic style */
.banner{
    width: 1264px;
    height: 350px;
}
.banner h1{
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    font-size: 4.8rem;
    padding-top: 220px;
    padding-left: 20px;
}
/* overrides */
.page-a7x .banner{
    background: url(../img/a7x-banner.png) no-repeat center center/cover;
}
.page-sleep .banner{
    background: url(../img/sleeptoken-banner.png) no-repeat center center/cover;
}
.page-iron .banner{
    background: url(../img/iron-banner.png) no-repeat center center/cover;
}
.page-slipknot .banner{
    background: url(../img/slipknot-banner.png) no-repeat center center/cover;
}
.page-alok .banner{
    background: url(../img/alok-banner.png) no-repeat center center/cover;
}
.page-marsh .banner{
    background: url(../img/marsh-banner.png) no-repeat center center/cover;
}

.infos{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 20px;   
}
.infos p{
    margin-bottom: 10px;
}
.musics{
    margin-left: 20px;
    width: fit-content;
    margin-bottom: 70px;
}
.musicCard{
    background-color: #3b3b3b57;
    display: grid;
    grid-template-columns: 2fr 2fr 270px;
    align-items: center;
    width: 1100px;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: #ffffff;
}
.musicCard p{
    font-size: 1.3rem;
}
.artistInfo{
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 25px;
    width: 1100px;
    background-color: #80808048;
    color: #ffffff;
    border-radius: 20px;
}
.artistInfo h1{
    margin-bottom: 45px;
}
.artistInfo p{
    font-size: 1.1rem;
    text-align: justify;
}