@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: "Special Elite", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* font-family: "Source Serif 4", serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
nav{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 15px;
    border-bottom: 5px #6A009A solid;
    font-family: "Special Elite", system-ui;
}
.logo{
    width: 260px;
    margin-right: 200px;
}
.searchBar{
    display: flex;
    align-items: center;
    background-color: #303030;
    border-radius: 30px;
    margin-right: 600px;
}
.searchBar img{
    width: 27px;
    margin-left: 10px;
    margin-right: 5px;
}
.searchBar input{
    padding: 9px;
    padding-right: 120px;
    font-size: 1.2rem;
    background: none;
    border: none;
    font-family: "Special Elite", system-ui;
}
.searchBar input:focus{
    outline: none;
    color: #ffffff;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    width: 58px;
    margin-right: 15px;
}
.user a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
}

.content{
    display: flex;
}
.content aside{
    width: 460px;
    min-height: 100dvh;
    border-right: 5px #6A009A solid;
    padding-left: 15px;
    padding-top: 15px;
    font-family: "Special Elite", system-ui;
}
.sideCard{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sideCard img{
    width: 80px;
    margin-right: 15px;
}
.sideCard a{
    text-decoration: none;
}
.sideCard p{
    color: #ffffff;
    font-size: 1.3rem;
}
.sideCard p:hover{
    text-decoration: underline;
}

/* here from above is the common part between the pages */

.mainContent{
    max-width: 100vh;
}
.pfp{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 20px;
}
.pfp p{
    font-size: 1.2rem;
    margin-left: 30px;
    font-family: "Special Elite", system-ui;
}
.mainContent h1{
    color: #ffffff;
    margin-left: 20px;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: "Special Elite", system-ui;
}
.empty{
    color: #ffffff;
    margin-left: 20px;
    font-size: 1.3rem;
    font-family: "Source Serif 4", serif;
}
.musics{
    margin-left: 20px;
    width: fit-content;
    margin-bottom: 70px;
    font-family: "Source Serif 4", serif;
}
.musicCard{
    background-color: #3b3b3b57;
    display: grid;
    grid-template-columns: 2fr 2fr 270px;
    align-items: center;
    width: 1100px;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: #ffffff;
}
.musicCard p{
    font-size: 1.3rem;
}